.iw_poi_title{color:#c52;font-weight:bold;white-space: normal;line-height: 20px}
.iw_poi_title p{font:12px arial,sans-serif;}

.iw_poi_inter{width:100%;height:46px;margin:10px auto 0 0;float:left;font:12px arial,sans-serif}
.iw_poi_inter input{vertical-align:middle;}
.iw_poi_content{padding-top:4px;}
.iw_poi_content div{line-height:17px;}
.iw_poi_content p{margin:0 0 3px 0;}
.table_addr_tel{margin-top:2px;table-layout:fixed;width:100%;}
.table_addr_tel tr{white-space: normal;}
.table_addr_tel th,.table_addr_tel td{line-height:140%;vertical-align:top;padding:0;}
.table_addr_tel th{font-weight:normal;width:40px;white-space:nowrap;word-break:keep-all;}
.iw_poi_inter{width:100%;height:46px;overflow:hidden;margin:10px auto 0 0;float:left;}
.nav_tab{height:17px;margin:0 0 6px -6px;width:230px;-moz-user-select:none;}
.nav_tab span{width:63px;color:#261cdc;text-align:center;text-decoration:underline;border-left:1px solid #ccc;cursor:pointer;height:17px;float:left;overflow:hidden;line-height:17px;}
.nav_tab span.hover{color:black;text-decoration:none;cursor:default;color:#636363;font-weight:700;}
.nav_tab span.first{border-left:0;}
.nav_tab span.second{width:73px;}

.nav_tab_content{text-align:left;height:20px;font-family:"ו";}
.nav_tab_content input{margin-left:3px;}
.nav_tab_content .lef{width:40px;left:0;top:1px;*top:3px;}
.nav_tab_content .rig{width:106px;right:0;top:-3px;*right:-2px;*top:-1px;}
.nav_tab_content .rig input{width:45px;margin-left:5px;height:22px;padding-top:2px;}

.bt{width:45px;height:22px;line-height:18px;}

.iw_cate_list{margin-top:2px;float:left;margin-right:5px;-margin-right:2px;white-space:nowrap;}
.iw_cate_list a{margin-left:6px;}
.iw_cate_list a.first{margin-left:0;}
/*
._map_right {display:none;float:left;width:300px;font-size:13px;border:1px solid gray;background:#FFFFFF;overflow-y:auto;}
._plan_nums {display:none;width:300px;height:20px;text-align:right;overflow-y:auto;border-bottom:1px solid gray;}
._results {width:300px;overflow-y:auto;}
*/